<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-left">
        <h1> Cadastro de alunos</h1>
    </div>


    <div class="col-8 m-auto pt-4 pb-2 text-left">
        <div id="result"></div>

        <form name="form" id="form" action="{% if db%}/update/{{db.id}}/{%else%}/create/{% endif %}" method="post">
            {% csrf_token %}
        <!--{{forms.as_p}}-->
            <h2>Dados pessoais</h2>
            <div class ="form-group mt-4">Nome do Aluno: {{forms.nome}}</div>
            <div class ="form-group mt-4">Data de Nascimento: {{forms.nascimento}}</div>
            <div class ="form-group mt-4">Telefone: {{forms.telefone}}</div>
            <div class ="form-group mt-4">E-mail: {{forms.email}}</div><br>
            <h2>Estágio de aprendizado</h2>
            <div class ="form-group mt-4">Nível: {{forms.nivel}}</div>
            <div class ="form-group mt-4">Obervação:<br>
                {{forms.obervacao}}</div> <br>
            <h2>Gestão</h2>
            <div class ="form-group mt-4">Dia de pagamento: {{forms.pagamento}}</div>
            <div class ="form-group mt-4">Horário das aulas: {{forms.horario}}</div>
            <div class ="form-group mt-4">Dias de aula: {{forms.semana}}</div>
            
            
            <a href="/" class="btn btn-outline-info">Voltar</a>
            <input type="submit" class="btn btn-success" value="Salvar">
            <div class="col-8 m-auto pt-3 pb-2 text-left"> <br>
            
            </div>
        </form>
    </div>

    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>

</body>
</html>